#todo-list .todo-cell {
    padding: 6px;
}
#todo-list .panel {
    margin-bottom: 0;
}
#todo-list .panel-body {
    overflow-y: auto;
}
.todo-cell .panel-heading {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}