{% import 'macro/modals.html' as modals %}
{% import 'macro/forms.html' as forms %}

{% call modals.modal(title='注册', id='id-modal-register', button_id='id-button-register', size=1) %}
    {% call forms.form() %}
        {{ forms.input(label='用户名', name='username', placeholder='username', place='4', size='5') }}
        {{ forms.input(label='密码', name='password', placeholder='password', type='password', place='4', size='5') }}
        {{ forms.input(label='确认密码', name='password2', placeholder='password', type='password', place='4', size='5') }}
    {% endcall %}
{% endcall %}

{% call modals.modal(title='登录', id='id-modal-login', button_id='id-button-login', size=1) %}
    {% call forms.form() %}
        {{ forms.input(label='用户名', name='username', placeholder='username', place='4', size='5') }}
        {{ forms.input(label='密码', name='password', placeholder='password', type='password', place='4', size='5') }}
    {% endcall %}
{% endcall %}

{% call modals.modal(title='新建 ToDo', id='id-modal-add', button_id='id-button-add', size=1) %}
    {% call forms.form() %}
        {{ forms.input(label='标题', name='title', placeholder='title') }}
        {{ forms.textarea(label='正文', name='content', placeholder='正文支持 Markdown 语法') }}
    {% endcall %}
{% endcall %}

{% call modals.modal(title='编辑 ToDo', id='id-modal-edit', button_id='id-button-update', size=1) %}
    {% call forms.form() %}
        {{ forms.input(label='标题', name='title', placeholder='title') }}
        {{ forms.textarea(label='正文', name='content', placeholder='正文支持 Markdown 语法') }}
    {% endcall %}
{% endcall %}